// 通用
.j_product_import_download{
  .j_table {
    border-bottom: none;
    border-left: none;
    td{
      padding: 0;
      border-bottom: none;
      border-left: none;
    }
  }
  .ivu-checkbox-group-item{
    float: left;
    width: 14.285%;
    color: #656565;
    margin-right: 0;
    padding: 15px 10px;
    border-left: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    .ivu-checkbox{
      padding-right: 7%
    }
  }
}
