// 按钮颜色
@primary-color          : #14a4ff;
@info-color             : #12bedb;
@success-color          : #417505;
@warning-color          : #ffa000;
@error-color            : #d0021b;
@link-color             : #0366ce;
@subsidiary-color       : #000000;
@price-color            : #ff7e3e;

// 边框颜色
@border-color-base      : #e9e9e9;  // outside
@border-color-split     : #e9e9e9;  // inside
@table-td-hover-bg      : #fafafa;

// 背景颜色
@background-color-base  : #ffffff;  // base
@background-gray-color  : #f5f6fa;  // custom
@menu-dark-active-bg    : #171e2e;
@menu-dark-title        : #1c2438;

// 字体颜色
@title-color            : #737373;
@text-color             : #5b5b5b;
@text-gray-color        : #a0a0a0;  // custom
@border-radius-base     : 0px;
@border-radius-small    : 0px;

// Layout and Grid
@layout-body-background : #ffffff;
@layout-header-background: #ffffff;

// 表单
@input-padding-horizontal: 10px;
@input-border-color      : #c9c9c9;
@input-height-small      : 27px;

// 按钮
@btn-padding-small      : 3.5px 11px;
@btn-border-radius      : 0px;
@btn-border-radius-small: 0px;
@btn-default-color      : #666666;
@btn-default-border     : #d5d5d5;

// 菜单
@menu-dark-title        : #3a3f51;
@menu-dark-active-bg    : #00b9d9;
@menu-dark-subsidiary-color : #d8d8d8;

// 自定义参数
@tabs-color             : #00b9d9;
